spring.mvc.view.prefix: /WEB-INF/views/
spring.mvc.view.suffix: .jsp

spring.jpa.hibernate.ddl-auto=update

spring.datasource.url=          # database connection URL
spring.datasource.username=     # database username
spring.datasource.password=     # database password

/* Oracle Driver */
spring.datasource.driver-class-oracle.jdbc.driver.OracleDriver

server.port=8000